---
permalink: /about/index.html
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<!doctype html>
<meta charset="utf-8">
<title>Redirecting…</title>
<meta http-equiv="refresh" content="0; url=/">
<link rel="canonical" href="/">
<p><a href="/">Continue to leewilkers.com</a></p>
