---
layout: base.njk
title: Stream – Lee Wilkers
permalink: /stream/
pageClass: page-stream
---

{% set streamItems = collections.items | where("dest", "stream") | sortBy("order") %}

<p class="page-subtitle">Things I clicked on that I may or may not have read.</p>

<ul class="stream-list">
  {%- for item in streamItems %}
  <li>
    <a href="{{ item.data.url }}">
      <span class="stream-author">{{ item.data.author }}</span>
      {%- if item.data.title %}<span class="stream-title">{{ item.data.title }}</span>{%- endif %}
    </a>
    {%- if item.data.source %}<span class="stream-source">{{ item.data.source }}</span>{%- endif %}
  </li>
  {%- endfor %}
</ul>
