---
layout: base.njk
title: Bricolage Typography Preview
pageClass: page-home
fontPreview: bricolage-eb
palettePreview: brico-sand-moss-blue
permalink: /type/bricolage/
---

{% include "home-page.njk" %}
